{% extends 'layout/layout.base.html' %}

{% block content %}

  <h2 class="heading--h1">Next meetups in Groningen</h2>

  <h3 class="u-uppercase">Upcoming in 2019</h3>

  <div class="o-card o-card--white o-card--clickable">
    <a href="https://www.meetup.com/refresh-groningen/events/263891230/" class="o-card__link">
      <span class="o-card__time">17 sep</span>
      <span class="o-card__event">01 Maike Klip about Design Research</span>
    </a>
    <a href="https://www.refreshconference.nl/" class="o-card__link">
      <span class="o-card__time">8 nov</span>
      <span class="o-card__event">Refresh Conference 2019, tickets now available!</span>
    </a>
    <a href="https://www.meetup.com/refresh-groningen/events/263891181/" class="o-card__link">
      <span class="o-card__time">26 nov</span>
      <span class="o-card__event">02 To Erwin Hofman about Accessibility</span>
    </a>
    <a href="https://www.meetup.com/refresh-groningen/events/263891174/" class="o-card__link">
      <span class="o-card__time">28 jan</span>
      <span class="o-card__event">03 To be announced</span>
    </a>
    <a href="https://www.meetup.com/refresh-groningen/events/263891154/" class="o-card__link">
      <span class="o-card__time">24 mar</span>
      <span class="o-card__event">04 Ariën Tolner about Sports Timekeeping</span>
    </a>
    <a href="https://www.meetup.com/refresh-groningen/events/263891141/" class="o-card__link">
      <span class="o-card__time">19 may</span>
      <span class="o-card__event">05 To be announced</span>
    </a>
  </div>

  <p class="paragraph--small">Want to join our Slack team? Join Refresh via <a href="http://meetup.com/refresh-groningen">Meetup.com</a> and we'll get you in. </p>

  <!-- <p>Looking for a job? We're keeping track of <a href="/jobs.php">design &amp; front-end jobs</a> near Groningen.</p> -->

  <h2>Supporters</h2>
  <ul class="o-logos">
    <li class="o-logos__item"><a href="https://tfe.nl" style="background-image:url('assets/images/logo-tfe.svg')"></a></li>
    <li class="o-logos__item"><a href="https://www.wearespindle.com" style="background-image:url('assets/images/logo-spindle.svg')"></a></li>
    <li class="o-logos__item"><a href="https://www.embracesbs.com" style="background-image:url('assets/images/logo-embrace.svg')"></a></li>
  </ul>

{% endblock %}
