{% extends 'layout/layout.base.html' %}

{% block content %}

  <h2 class="heading--h1">Next meetups in Groningen</h2>

  <h3 class="u-uppercase">Upcoming in 2020/2021</h3>

  <div class="o-card o-card--white o-card--clickable">
    <a href="https://www.meetup.com/refresh-groningen/" class="o-card__link">
      <!-- <span class="o-card__time">17 sep</span> -->
      <span class="o-card__event">No meetups planned yet because of Covid-19</span>
    </a>
  </div>

  <p class="paragraph--small">Want to join our Slack team? Join Refresh via <a href="http://meetup.com/refresh-groningen">Meetup.com</a> and we'll get you in. </p>

  <!-- <p>Looking for a job? We're keeping track of <a href="/jobs.php">design &amp; front-end jobs</a> near Groningen.</p> -->

  <h2>Supporters</h2>
  <ul class="o-logos">
    <li class="o-logos__item"><a href="https://tfe.nl" style="background-image:url('assets/images/logo-tfe.svg')"></a></li>
    <li class="o-logos__item"><a href="https://www.wearespindle.com" style="background-image:url('assets/images/logo-spindle.svg')"></a></li>
    <li class="o-logos__item"><a href="https://www.embracesbs.com" style="background-image:url('assets/images/logo-embrace.svg')"></a></li>
  </ul>

{% endblock %}
